@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=Barriecito&family=BioRhyme:wght@200..800&family=Boldonse&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@import 'tailwindcss';
@theme {
    /* Colors */
    --color-xanadu: #758073;
    --color-blue-smoke: #73807a;
    --color-tower-gray: #acb7bf;
    --color-green-spring: #b0bfac;

    /* Text custom*/
    --text-title-section: 2rem;
    --text-color-section: #fff;

    /* Font */
    --font-banner: 'BioRhyme', serif;
    --font-andika: 'Andika', sans-serif;
    --font-lato: 'Lato', sans-serif;
    --font-bondolse: 'Boldonse', system-ui;
    --font-barriecito: 'Barriecito', system-ui;
    --font-bagel: 'Bagel Fat One', system-ui;

    /* Radius default */
    --radius-container: 15px;

    /* Mobile L size*/
    --breakpoint-ml: 600px;

    @keyframes blur-animate {
        0% {
        }
        25% {
            box-shadow:
                5px 5px 10px var(--xanadu),
                -5px -5px 10px var(--xanadu),
                5px -5px 10px var(--xanadu),
                -5px 5px 10px var(--xanadu);
        }
        50% {
            box-shadow: none;
        }
        75% {
            box-shadow:
                5px 5px 10px var(--xanadu),
                -5px -5px 10px var(--xanadu),
                5px -5px 10px var(--xanadu),
                -5px 5px 10px var(--xanadu);
        }
        100% {
            box-shadow: none;
        }
    }

    @keyframes gradient-animation {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
}

.table-row {
    @apply border-2 p-0.5 text-center w-full;
}

.table-head {
    @apply border-2 p-0.5 text-center whitespace-nowrap;
}

@layer components {
    .title-section {
        font-size: 2rem;
        font-weight: 800;
    }
}
body {
    background-color: #fff;
    width: 100%;
    height: 100%;
}

img {
    height: 100%;
    width: 100%;
}
