@import url('https://fonts.googleapis.com/css2?family=Andika:ital,wght@0,400;0,700;1,400;1,700&family=Big+Shoulders+Stencil:opsz,wght@10..72,100..900&family=BioRhyme:wght@200..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';
@theme {
    --color-xanadu: #758073;
    --color-blue-smoke: #73807a;
    --color-tower-gray: #acb7bf;
    --color-green-spring: #b0bfac;

    --breakpoint-bkmid: 426px;
    --text-title-section: 2rem;

    @keyframes piscar {
        0% {
            box-shadow: none;
        }
        25% {
            box-shadow:
                5px 5px 10px var(--xanadu),
                -5px -5px 10px var(--xanadu),
                5px -5px 10px var(--xanadu),
                -5px 5px 10px var(--xanadu);
        }
        50% {
            box-shadow: none;
        }
        75% {
            box-shadow:
                5px 5px 10px var(--xanadu),
                -5px -5px 10px var(--xanadu),
                5px -5px 10px var(--xanadu),
                -5px 5px 10px var(--xanadu);
        }
        100% {
            box-shadow: none;
        }
    }

    @keyframes gradient-animation {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
}

@layer components {
    .title-section {
        font-size: 2rem;
        font-weight: 800;
    }
}

* {
    font-family: 'Andika', sans-serif;
}
body {
    background-color: #fff;
    width: 100%;
    height: 100%;
}

img {
    height: 100%;
    width: 100%;
}
